# Site settings
title: José Ribeiro
description: 'life without code, coffee and beer is like a ship without the sea'
url: 'http://zekitow.github.io/'
baseurl: ''
google_analytics: 'UA-105815691-1'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'José Ribeiro'
  email: zeca@digup.io
  # twitter_username: zekitow
  facebook_username: zekitow
  github_username:  zekitow
  linkedin_username:  zekitow

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

kramdown:
  input: GFM
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
