@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
/* line 6, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
body {
  outline: none;
  background-color: #e8e8e8;
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

/* line 18, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
.main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* line 24, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
.clearfix {
  clear: both;
}

/* line 27, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
p {
  font-size: 1em;
  line-height: 1.5;
}

/* line 32, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
h1, h2, h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.9);
}

/* line 37, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
h1 {
  font-size: 3em;
}

/* line 40, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
h2 {
  font-size: 2em;
}

/* line 43, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
h3 {
  font-size: 1.5em;
}

/* line 46, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 3em 0;
}

/* line 52, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-core.css.sass */
.card {
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  margin: 10px 0 20px 0;
  padding: 20px;
  border-radius: 3px;
}
