/* line 4, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  border-bottom: 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 500;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(to bottom,#f8f8f8, #f1f1f1);
  margin: 10px;
  padding: 0px;
  outline: none;
  color: #333333;
}
/* line 15, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
/* line 18, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress > div {
  padding: 5px;
}
/* line 21, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress .blue, .progress .green, .progress .red {
  color: white;
}
/* line 24, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress .blue {
  background-color: #0e83cd;
  background-image: -webkit-linear-gradient(top, #0e83cd, #0e83ff);
  background-image: linear-gradient(to bottom,#0e83cd, #0e83ff);
}
/* line 27, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress .green {
  background-color: #41ab6b;
  background-image: -webkit-linear-gradient(top, #41ab6b, #41ab71);
  background-image: linear-gradient(to bottom,#41ab6b, #41ab71);
}
/* line 30, /home/zekitow/Projects/groselha-ui/app/assets/stylesheets/_groselha-progress.css.sass */
.progress .red {
  background-color: #c83227;
  background-image: -webkit-linear-gradient(top, #c83227, #db5147);
  background-image: linear-gradient(to bottom,#c83227, #db5147);
}
